<aside class="col-2 col-md-4 p-2 d-flex d-none d-md-block d-lg-block flex-column vh-100">
  <div class="mt-2 p-2" style="background-color: #f7f9f9">
    <h4>What's happening</h4>
    <div>
      <span class="text-secondary" style="font-size: 0.9rem">Programming · Trending</span>
      <h6 class="mb-0">#MongoVsSequelize</h6>
      <p class="text-secondary" style="font-size: 0.9rem">97.5k Tweets</p>
    </div>

    <div>
      <span class="text-secondary" style="font-size: 0.9rem">Entertainment · Trending</span>
      <h6 class="mb-0">#StarWars</h6>
      <p class="text-secondary" style="font-size: 0.9rem">97.5k Tweets</p>
    </div>

    <div>
      <span class="text-secondary" style="font-size: 0.9rem">News · Trending</span>
      <h6 class="mb-0">#LifeInMars</h6>
      <p class="text-secondary" style="font-size: 0.9rem">97.5k Tweets</p>
    </div>
  </div>

  <div
    class="d-none d-md-flex d-lg-flex flex-column w-100 mt-5 p-2"
    style="background-color: #f7f9f9"
  >
    <h3>Who to follow</h3>
    <div class="d-inline-flex justify-content-between align-items-center">
      <div class="d-flex gap-2 align-items-center p-2">
        <div>
          <a
            class="btn btn-primary rounded-pill"
            style="background-color: #cad8db; border: none"
            href="/tweet"
          >
            <i class="fa-solid fa-user" style="color: #647788"></i>
          </a>
        </div>

        <div class="d-flex flex-column">
          <span style="font-size: 0.9rem"> <b>Hack Academy</b></span>
          <span class="text-secondary" style="font-size: 0.8rem">@HackAcademyDev</span>
        </div>
      </div>
      <a
        href=""
        class="btn btn-primary rounded-pill"
        style="background-color: #1d9bf0; border: none"
      >
        Follow
      </a>
    </div>
    <div class="d-inline-flex justify-content-between align-items-center">
      <div class="d-flex gap-2 align-items-center p-2">
        <div>
          <a
            class="btn btn-primary rounded-pill"
            style="background-color: #cad8db; border: none"
            href="/tweet"
          >
            <i class="fa-solid fa-user" style="color: #647788"></i>
          </a>
        </div>

        <div class="d-flex flex-column">
          <span style="font-size: 0.9rem"> <b>JavaScript</b></span>
          <span class="text-secondary" style="font-size: 0.8rem">@JavaScript</span>
        </div>
      </div>
      <a
        href=""
        class="btn btn-primary rounded-pill"
        style="background-color: #1d9bf0; border: none"
      >
        Follow
      </a>
    </div>
    <div class="d-inline-flex justify-content-between align-items-center">
      <div class="d-flex gap-2 align-items-center p-2">
        <div>
          <a
            class="btn btn-primary rounded-pill"
            style="background-color: #cad8db; border: none"
            href="/tweet"
          >
            <i class="fa-solid fa-user" style="color: #647788"></i>
          </a>
        </div>

        <div class="d-flex flex-column">
          <span style="font-size: 0.9rem"> <b>MongoDB</b></span>
          <span class="text-secondary" style="font-size: 0.8rem">@MongoDB</span>
        </div>
      </div>
      <a
        href=""
        class="btn btn-primary rounded-pill"
        style="background-color: #1d9bf0; border: none"
      >
        Follow
      </a>
    </div>
    <div class="d-inline-flex justify-content-between align-items-center">
      <div class="d-flex gap-2 align-items-center p-2">
        <div>
          <a
            class="btn btn-primary rounded-pill"
            style="background-color: #cad8db; border: none"
            href="/tweet"
          >
            <i class="fa-solid fa-user" style="color: #647788"></i>
          </a>
        </div>

        <div class="d-flex flex-column">
          <span style="font-size: 0.9rem"> <b>Node.js</b></span>
          <span class="text-secondary" style="font-size: 0.8rem">@nodejs</span>
        </div>
      </div>
      <a
        href=""
        class="btn btn-primary rounded-pill"
        style="background-color: #1d9bf0; border: none"
      >
        Follow
      </a>
    </div>
    <div class="d-inline-flex justify-content-between align-items-center">
      <div class="d-flex gap-2 align-items-center p-2">
        <div>
          <a
            class="btn btn-primary rounded-pill"
            style="background-color: #cad8db; border: none"
            href="/tweet"
          >
            <i class="fa-solid fa-user" style="color: #647788"></i>
          </a>
        </div>

        <div class="d-flex flex-column">
          <span style="font-size: 0.9rem"> <b>MDN Web DOcs</b></span>
          <span class="text-secondary" style="font-size: 0.8rem">@MozDevNet</span>
        </div>
      </div>
      <a
        href=""
        class="btn btn-primary rounded-pill"
        style="background-color: #1d9bf0; border: none"
      >
        Follow
      </a>
    </div>
  </div>
</aside>
